.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

/* .sampleStyle {
  width: 30px;
  height: 30px;
  background: url('../assets/images/icons.png') no-repeat;
} */

.boardstyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #bbb;
  border: 5px solid #7b7b7b;
  border-right-color: #7b7b7b;
  border-bottom-color: #7b7b7b;
}

.head {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.easy,
.middle,
.hard,
.custom {
  display: flex;
  justify-content: center;
  padding: 5%;
  cursor: pointer;
}

.gamehead {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  background: #bbb;
}

.flag,
.timer {
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 35px;
  color: #f00;
  background: #000;
  box-shadow: 1px 1px 2px #888; /* タイマー、リセット、フラッグに適用する影 */
}

.reset {
  box-sizing: content-box;
  width: 19px;
  height: 29px;
  background: #bdbdbd;
  background-image: url('../assets/images/icons.png');
  border: solid 4px #888;

  /* background-image: url('../assets/images/icons.png'); */

  border-color: #fff #7b7b7b #7b7b7b #fff;
  box-shadow: 1px 1px 1px #888; /* セルに適用する影 */
}

.aaaa {
  width: 30px;
  height: 30px;
  background-image: url('../assets/images/icons.png');
}

.backgroundmap {
  display: grid;
  gap: 0;
  align-items: center;
  justify-content: center;
}

.backgroundmap.easy {
  grid-template-columns: repeat(9, 34px); /* 初級の列設定 */
}

.backgroundmap.middle {
  grid-template-columns: repeat(16, 34px); /* 中級の列設定 */
}

.backgroundmap.hard {
  grid-template-columns: repeat(30, 34px); /* 上級の列設定 */
}

.cellStyle {
  box-sizing: content-box;
  width: 30px;
  height: 30px;
  background: #bdbdbd;
  border: solid 2px #888;
  border-color: #fff #7b7b7b #7b7b7b #fff;
  box-shadow: 1px 1px 1px #888; /* セルに適用する影 */
}

.allbackground {
  display: flex;
}

.allall {
  display: flex;
  flex-direction: column;
}

.sampleStyle {
  width: auto;
  height: 30px;
  background-image: url('../assets/images/icons.png');
}
